/* 公用 */

.comWidth {
    width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hr_45 {
    height: 45px;
}

.hr_25 {
    height: 25px;
}

.hr_15 {
    height: 15px;
}

.hr_7 {
    height: 7px;
}

/* topBar */

.topBar {
    height: 31px;

    line-height: 31px;

    background-color: #f7f7f7;
}

.collection {
    padding-left: 19px;

    font-weight: bold;

    background: url(../images/icon/collection.jpg) no-repeat left center;
}

.topBar a:hover {
    color: red;
}

/* logo */

.logoBar {
    height: 85px;

    background-color: #1D7AD9;
}

.logo {
    padding-top: 13px;
    padding-left: 41px;
}

/* search */

.search_box {
    width: 430px;

    padding-top: 23px;
    padding-left: 185px;
}

.search_text {
    width: 350px;
    height: 35px;

    padding: 0 5px;
}

.search_btn {
    width: 70px;
    height: 35px;

    color: #fff;
    font: 14px "Microsoft YaHei", "微软雅黑";

    background-color: #ff8c00;
}

/* 购物车 */

.shopCar {
    width: 145px;
    height: 35px;

    margin-top: 23px;
    margin-right: 59px;

    color: #fff;
    font: 14px/35px "Microsoft YaHei", "微软雅黑";

    background-color: #ff8c00;
}

.shopText {
    width: 87px;
    height: 100%;

    border-right: 1px solid #e27a00;

    text-indent: 40px;

    background: url(../images/icon/shaoIcon.jpg) 10px center no-repeat;
}

.shopNum {
    width: 27px;
    height: 35px;

    border-left: #ff9c01 solid 1px;
    padding-right: 29px;

    text-align: right;

    background: url(../images/icon/sj.jpg) 33px center no-repeat;
}

/* 导航 */

.navBox {
    height: 35px;

    color: #fff;

    background-color: #1369c0;
}

.shopClass {
    position: relative;

    width: 190px;
}

.shopClass h3 {
    text-align: center;
    line-height: 35px;
}

.shopClass i {
    display: inline-block;

    width: 11px;
    height: 7px;

    margin-left: 11px;

    background: url(../images/icon/down.jpg) left center no-repeat;

    overflow: hidden;
}

.nav,
.shopClass h3 {
    font-family: "Microsoft YaHei", "微软雅黑";
}

.nav {
    line-height: 35px;
}

.nav li {
    float: left;
}

.nav a {
    display: inline-block;

    height: 35px;

    padding: 0 35px;

    color: #fff;
}

.nav .active {
    background-color: #4593fd;
}

/* 商品弹出列表 */

.shopClass_show {
    position: absolute;
    top: 35px;
    left: 0;

    width: 100%;

    background-color: #4593fd;
}

.shopClass_item {
    border-bottom: 1px solid #3487f2;
    border-top: 1px solid #5aa1fe;
    padding: 14px 10px;
}

.shopClass_item dt {
    height: 22px;

    background: url(../images/icon/shop_sj.jpg) right center no-repeat;
}

.shopClass_item .b {
    font: bold 14px "Microsoft YaHei", "微软雅黑";
}

.shopClass_item a {
    color: white;
}

.shopClass_item a:hover {
    text-decoration: underline;
}

.shopClass_item .aLink {
    display: inline-block;

    width: 48px;
    height: 20px;

    text-align: center;
    text-decoration: underline;
    line-height: 20px;

    background: url(../images/icon/aLink_bg.png) left center no-repeat;
}

/* shopClass_item active 状态 */

.shopClass_active {
    border-left: 1px solid #4593fd;

    background-color: #fff;
}

.shopClass_active dt {
    background: none;
}

.shopClass_active a {
    color: #000;
}

.shopClass_active .aLink {
    color: #fff;
    text-decoration: none;
}

/* 弹出的菜单 */

.shopClass_list {
    position: absolute;
    top: 35px;
    left: 190px;

    width: 568px;

    border: 1px solid #ccc;
}

.shopClass_cont {
    padding: 0 20px;
}

.shopList_item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.shopList_item dt {
    height: 24px;

    color: #4b87d9;
    font-weight: bold;
    line-height: 24px;
}

.shopList_item dd {
    padding-left: 68px;
    margin-top: -24px;

    line-height: 24px;
}

.shopList_item dd a {
    display: inline-block;

    margin-right: 12px;
}

.shopList_links {
    padding: 15px 0;
}

.shopList_links a {
    display: inline-block;

    height: 26px;

    padding: 0 14px 0 8px;
    margin-right: 10px;

    color: #fff;
    line-height: 26px;

    background-color: #2785e6;
}

.shopList_links span {
    display: inline-block;

    width: 11px;
    height: 7px;

    margin-left: 7px;

    background: url(../images/icon/shop_sj.jpg) left center no-repeat;
}

/* banner 部分 */

.banner {
    margin-bottom: 15px;
}

.banner_bar {
    position: relative;

    float: right;

    overflow: hidden;
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
}

.imgBox li {
    float: left;
}

.imgBox img {
    display: block;
}

.imgNum {
    position: absolute;
    bottom: 15px;
    left: 0;

    width: 100%;

    text-align: center;
}

.imgNum a {
    display: inline-block;

    width: 20px;
    height: 5px;

    margin: 0 3px;

    background-color: #fff;

    overflow: hidden;
}

.imgNum .active {
    background-color: #ff7700;
}

.banner_big,
.banner_big img {
    width: 810px;
    height: 326px;
}

.banner_big .imgBox {
    width: 1620px;
    height: 326px;
}

.banner_sm,
.banner_sm img {
    width: 190px;
    height: 400px;
}

.banner_sm .imgBox {
    width: 380px;
    height: 400px;
}

/* 商品标题 */

.shopTit {
    height: 44px;

    margin-bottom: 15px;

    font-family: "Microsoft YaHei", "微软雅黑";
    line-height: 44px;
}

.shopTit h3 {
    float: left;

    padding-left: 15px;

    font-size: 24px;
    font-weight: normal;
}

.icon {
    float: left;

    width: 44px;
    height: 44px;

    background: url(../images/icon/shopIcon.jpg) left top no-repeat;
}

.more {
    float: right;

    font-family: "宋体";
}

.more:hover {
    text-decoration: underline;
}

/* 商品列表 */

.shopList .leftArea {
    width: 190px;
}

.shopList .rightArea {
    width: 808px;
    height: 396px;

    border: 1px solid #999;
    border-bottom: 3px solid #ff7201;

    overflow: hidden;
}

/* 商品列表右侧 */

.shopList {
    margin-bottom: 15px;
}

.shopList_top,
.shopList_sm {
    margin-right: -4px;
}

.shop_item {
    float: left;

    width: 202px;
    height: 279px;

    border-right: 1px solid #999;
    border-bottom: 1px solid #999;

    text-align: center;
    font-family: "Microsoft YaHei", "微软雅黑";
}

.shop_img {
    height: 218px;
}

.shop_img img {
    display: block;

    width: 100%;
    height: 218px;
}

.shop_item h3 {
    font-size: 16px;
}

.shop_item p {
    color: #ff7300;
    font-size: 14px;
    line-height: 21px;
}

/* 商品列表-小 */

.shopItem_sm {
    float: left;

    width: 202px;
    height: 110px;

    border-right: 1px solid #999;
    padding-top: 6px;
}

.shopItem_smImg {
    float: left;

    width: 95px;
    height: 95px;

    text-align: center;
}

.shopItem_smImg img {
    width: 95px;
    height: 95px;
}

.shopItem_text {
    float: left;

    width: 100px;

    padding-top: 28px;
}

.shopItem_text p {
    color: #ff7300;
}

.shopItem_text h3 {
    color: #181818;
    font: normal 16px/30px "Microsoft YaHei", "微软雅黑";
}

/* 底部 */

.footer {
    padding: 50px 0;

    line-height: 24px;
    text-align: center;

    background-color: #d4d4d4;
}

.footer i {
    margin: 0 5px;

    font-style: normal;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #f60;
}

.web img {
    margin: 0 12px;
}

.web {
    padding-top: 30px;
}

/* 产品分类页面增加的代码 */

/* 产品分类 */

.products .leftArea {
    width: 185px;
}

.products .rightArea {
    width: 810px;
}

.products .banner_bar {
    float: none;
}

.products .item {
    width: 25%;

    margin-bottom: 10px;
}

/* 产品分类导航 */

.leftNav {
    border: 1px solid #d7d7d7;

    background-color: #f3f3f3;
}

.nav_title {
    height: 34px;

    border-bottom: 1px solid #d7d7d7;

    line-height: 34px;
    font-size: 14px;
    text-align: center;
}

.nav_cont {
    border-bottom: 1px dotted #d7d7d7;
    padding: 0 18px 4px;
    margin-bottom: -1px;
}

.nav_cont h3 {
    height: 30px;

    line-height: 30px;
    font-size: 12px;
}

.navCont_list {
    line-height: 25px;
}

.navCont_list li {
    float: left;

    width: 50%;
}

.vertical li {
    float: none;

    width: auto;

    padding-left: 8px;
}

.vertical .nav_title,
.vertical .nav_cont h3 {
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑";
}

/* 标题 */

.products_title {
    height: 34px;

    border-bottom: 2px solid #ccc;
}

.products_title h3 {
    width: 180px;
    height: 34px;

    border-bottom: 2px solid #096dba;

    line-height: 34px;
    text-indent: 9px;
}

/* 商品 */

.item {
    float: left;
}

.item_cont {
    padding: 0 15px;
}

.img_item {
    height: 170px;

    text-align: center;
}

.img_item img {
    height: 170px;
}

.item p {
    line-height: 20px;
}

.item a {
    color: #000;
}

.item a:hover {
    text-decoration: underline;
}

.money {
    padding-top: 10px;

    color: #d4105a;
    font-weight: bold;
}

.stars {
    display: inline-block;

    width: 13px;
    height: 12px;

    margin-right: 1px;

    background: url(../images/icon/collection.jpg) left top no-repeat;

    overflow: hidden;
}


/* 筛选 */

.screening {
    border-bottom: 1px solid #ccc;

    font-family: Verdana;
}

.screening dt {
    float: left;

    width: 74px;

    margin-right: 42px;

    line-height: 32px;
    text-align: right;
}

.limit {
    float: left;

    width: 55px;

    line-height: 32px;
}

.screening .active {
    color: #fff;

    background-color: #1d7ad9;
}

.screening a {
    padding: 2px;
}

.screening_list {
    float: left;

    line-height: 32px;

    width: 626px;
}

.screening_list li {
    float: left;

    width: 20%;
}

.screen_more {
    float: left;

    height: 23px;

    padding-left: 11px;
    padding-right: 11px;
    border: 1px solid #ccc;
    margin-top: 4px;
    margin-right: 10px;

    line-height: 23px;

}

.screen_more a {
    padding-right: 14px;

    background: url(../images/icon/sj_grey.gif) right center no-repeat;
}

.addInfo {
    height: 31px;

    border: 1px solid #ccc;

    background-color: #f5f5f5;
}

.address {
    float: left;
}

.add_text {
    float: left;

    padding-left: 12px;
    padding-right: 6px;

    line-height: 31px;
}

.addInfo .select {
    margin-top: 4px;
}

.screen_text {
    padding-right: 80px;

    line-height: 31px;
}

.check {
    position: relative;
    top: -1px;
}

.check input,
.check label {
    vertical-align: middle;
}

.shop_number em {
    color: #f00;
    font-style: normal;
    font-weight: bold;
}

.addCar {
    display: inline-block;

    height: 22px;

    padding: 0 6px 0 23px;
    border: 1px solid #999;

    background: url(../images/icon/car.jpg) 6px center no-repeat;
}

.screening_list_more {
    padding-left: 0.5%;
}

.screening_list_more .item {
    width: 33.3%;
}

/* page */

.page {
    text-align: center;
}

.page a {
    display: inline-block;

    height: 24px;

    padding: 0 12px;
    border: 1px solid #ccc;
    margin: 0 2px;

    line-height: 24px;
}

.page .hl {
    display: inline-block;

    padding: 0 12px;
    margin: 0 2px;
}

.morePage {
    display: inline-block;

    height: 24px;

    padding-left: 14px;

    line-height: 24px;
}

.pageNum {
    width: 29px;
    height: 24px;

    padding: 0 3px;
    border: 1px solid #ccc;
    margin-left: 4px;

    text-align: center;
}

.page_btn {
    width: 44px;
    height: 24px;

    border: 1px solid #ccc;

    line-height: 24px;

    background-color: #e8e8e8;
}

.ye {
    padding: 0 8px 0 6px;
}

/* 组件 */

.select {
    position: relative;

    float: left;

    height: 22px;

    padding-left: 10px;
    padding-right: 20px;
    border: 1px solid #999;

    line-height: 22px;

    background-color: #fff;
}

.select h3 {
    font-size: 12px;
    font-weight: normal;
}

.select span {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 20px;

    background: url(../images/icon/sj_blue.jpg) center center no-repeat;
}

.show_select {
    display: none;
    position: absolute;
    top: 22px;
    left: -1px;

    width: 100%;

    border: 1px solid #999;

    background-color: #fff;
}

.show_select li {
    padding-left: 10px;
}

/* 商品介绍 */

.grey {
    background-color: #f0f0f0;
}

/* 位置 */
.userPosition {
    margin-top: 25px;
    margin-bottom: 15px;

    font-size: 0;
    font-family: Verdana;
}

.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a {
    font-size: 12px;
}

.userPosition em {
    font-style: normal;
}

.userPosition a:hover {
    text-decoration: underline;
}

.description_info {
    background-color: #fff;
}

.description {
    border: 1px solid #ccc;
}

.description .leftArea {
    width: 309px;
}

.description .rightArea {
    width: 688px;

    border-left: 1px solid #ccc;
}

/* 图片展示 */

.description_imgs .big {
    height: 340px;

    text-align: center;
}

.des_smimg {
    width: 265px;

    padding-left: 1px;
    margin: 0 auto;
}

.des_smimg li {
    float: left;

    margin-left: -1px;
}

.des_smimg img {
    border: 1px solid #ccc;
}

.des_smimg .active {
    position: relative;

    border-color: #317ee7;
}

.des_content {
    padding: 10px;
}

.des_content_tit {
    padding: 13px 25px;

    font: bold 16px/22px "Microsoft YaHei", "微软雅黑";
}

.des_content .dl {
    margin-bottom: 8px;
}

.des_content .dt {
    float: left;

    width: 75px;

    color: #666;
    text-indent: 17px;
    line-height: 25px;
}

.des_content .dd {
    padding-left: 75px;
}

.des_money {
    color: #f30;
    font-size: 18px;
    font-family: Verdana;
}

.des_money em {
    font-size: 12px;
    font-style: normal;
}

/* 换购 */

.hg {
    display: inline-block;

    padding-top: 4px;
}

.hg_icon {
    display: inline-block;

    width: 55px;
    height: 18px;

    margin-right: 10px;

    color: #fff;
    line-height: 18px;
    font-style: normal;
    text-indent: 16px;

    background: url(../images/icon/hg_icon.jpg) left top no-repeat;
}

/* 送货 */
.des_position {
    padding: 15px 0;

    background-color: #f2f2f2;
}

.theGoods {
    padding-left: 10px;

    line-height: 24px;
}

.des_content .colorSelect {
    line-height: 35px;
}

.des_item {
    float: left;

    padding: 9px 10px;
    border: 1px solid #ccc;
    margin-right: 10px;

    color: #666;

    background-color: #fff    ;
}

.des_item_active {
    border-color: #317ee7;

    color: #333;
}

.des_item_sm {
    padding: 3px 7px;
    margin-bottom: 8px;
}

.des_content .des_select_more {
    line-height: 55px;
}

/*数量 */

.des_number {
    float: left;

    width: 82px;
    height: 32px;

    border: 1px solid #b2b2b2;
}

.des_number div {
    float: left;

    height: 100%;
}

.reduction,
.plus {
    width: 15px;

    color: #333;
    line-height: 32px;
    text-align: center;

    background: url(../images/icon/plus_bg.jpg) left top no-repeat;
}

.reduction {
    border-right: 1px solid #ccc;
}

.plus {
    border-left: 1px solid #ccc;
}

.des_input {
    width: 50px;
}

.des_input input {
    width: 100%;
    height: 100%;

    text-align: center;

    background: url(../images/icon/des_input_bg.jpg) left top no-repeat;
}

.xg {
    float: left;

    padding-left: 10px;

    color: #656565;
    font-weight: bold;
    line-height: 32px;
}

.xg em {
    color: #fb7700;
    font-style: normal;
}

.des_content .des_num {
    line-height: 32px;
}

/* 已选择 */

.des_select {
    margin: 22px 0 12px;

    text-indent: 17px;
    font-weight: bold;
}

.des_select span {
    color: #0479c9;
}

.shop_buy {
    text-align: center;
}

.shopping_btn,
.buy_btn {
    display: inline-block;

    width: 184px;
    height: 48px;

    background: url(../images/icon/buy_btn.jpg) left top no-repeat;
}

.line {
    display: inline-block;

    width: 1px;
    height: 90px;

    margin: 0 40px;

    background-color: #ccc;

    overflow: hidden;
}

.line,
.shopping_btn,
.buy_btn {
    vertical-align: middle;
}

.notes {
    color: #ccc;
    text-indent: 17px;
}

/* 产品介绍 */

.des_info .leftArea {
    width: 190px;
}

.des_info .rightArea {
    width: 790px;
}

.recommend {
    padding-bottom: 15px;
    border: 1px solid #ccc;

    background-color: #fff;
}

.recommend .tit {
    height: 39px;

    border-bottom: 1px solid #ccc;

    font-size: 14px;
    line-height: 39px;
    text-indent: 15px;

    background-color: #f3f3f3;
}

.recommend .item {
    float: none;
}

.recommend .money {
    padding-top: 0;
}

/* 详细介绍 */

.des_infoContent {
    border: 1px solid #ccc;

    background-color: #fff;
}

.des_tit {
    height: 39px;

    border-bottom: 1px solid #ccc;

    background: url(../images/icon/des_title.jpg) left top repeat-x;
}

.des_tit li {
    float: left;

    width: 50%;

    border-left: 1px solid #ccc;
    margin-left: -1px;

    font: 14px/39px "宋体";
    text-align: center;
}

.des_tit .active {
    color: #fff;
    font-weight: bold;

    background-color: #0479ca
}

.des_tit span {
    display: inline-block;

    padding-left: 32px;

    line-height: 39px;

    background: url(../images/icon/des_title_icon.png) left center no-repeat;
}

.ad {
    padding: 30px 0;

    text-align: center;
}

.info_tit {
    height: 26px;

    border-bottom: 1px solid #ccc;
    margin-bottom: 18px;

    font-family: "Microsoft YaHei", "微软雅黑";
}

.info_tit h3 {
    float: left;

    height: 26px;

    padding-right: 8px;
    border-bottom: 1px solid #2357a5;

    font-size: 16px;
    color: #2357a5;
}

.info_tit h4 {
    padding-left: 4px;

    color: #656565;
    font-size: 12px;
    line-height: 26px;
}

.info_text {
    padding: 0 20px;
}

.info_text p {
    color: #656565;
    font-size: 14px;
    line-height: 22px;
}

.center {
    display: block;

    margin: 0 auto;
}
